<!DOCTYPE html>
<html lang="pt" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <title>Enterprise!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <meta name="theme-color" content="#42d0ff">


</head>

<body>

    <div class="clouds-content">

        <div class="cloud c-c-anim">


            <div class="cloud-base">

                <div class="cloud-circle c-c-p1"></div>
                <div class="cloud-circle c-c-p2"></div>
                <div class="cloud-circle c-c-p3"></div>



            </div>

        </div>

        <div class="cloud cloud-2 c-scale-s c-c-duration c-c-delay c-c-anim ">


            <div class="cloud-base">

                <div class="cloud-circle c-c-p1"></div>
                <div class="cloud-circle c-c-p2"></div>
                <div class="cloud-circle c-c-p3"></div>



            </div>

        </div>


    </div>

    <div class="all-login main-bg-color p-font">

        <section class="login-part">
            <div class="center-title">
                <div class="title-login italic big-font">Enter<span>prise!</span></div>
            </div>

            <div class="box-login white-bg-color">
                <div class="center-title box-title medium-font">Login</div>

                <!--formulario-->
                <div ng-controller="formulario" class="ctrl-form">

                    <form class="forml" name="form1" novalidate ng-submit="update(user)">

                        <div class="input-group">

                            <input type="email" class="inputNew inputEmail" id="emaill" name="email1" ng-model="user.email" required>


                            <div class="bar-input"></div>

                            <label>E-mail</label>

                            <div class="error-content" ng-if="form1.email1.$touched && form1.email1.$invalid || form1.$submitted && form1.$error.required[0].$name== 'email1' ">

                                <div class="error-message" ng-if="form1.email1.$error.required"> Campo obrigatório</div>
                                <div class="error-message" ng-if="form1.email1.$error.email">E-mail inválido</div>


                            </div>

                            <div class="valid-content" ng-if="form1.email1.$valid-email"></div>

                        </div>




                        <div class="input-group">
                            <input type="password" class="inputNew inputLogin" name="senha1" ng-model="user.password" name="password" required>

                            <div class="bar-input"></div>


                            <label>Senha</label>


                            <div class="error-content" ng-if="form1.senha1.$touched && form1.senha1.$invalid  || form1.$submitted && form1.$error.required[1].$name== 'senha1' ">

                                <div class="error-message" ng-if="form1.senha1.$error.required"> Campo obrigatório</div>
                                <div class="error-message" ng-if="form1.senha1.$error.password">E-mail inválido</div>


                            </div>
                            <div class="valid-content" ng-if="form1.senha1.$valid"></div>

                        </div>
                        <div class="checkbox-container">

                            <input type="checkbox" checked id="checkbox-always" ng-model="user.alwaysLogged">
                            <span class="checkmark"></span> <span id="a-conected">Mantenha-me conectado</span>
                        </div>
                        <button type="submit" class="button main-bg-color f-color-white">Entrar</button>



                    </form>




                </div>


            </div>

        </section>



    </div>


    <div class="apontador-down">
        <img src="vector/seta.svg" alt="">
    </div>
    <footer class="medium-bg-color" ng-controller="footerList">

        <div class="colums-footer c-f-padding ">
            <div class="c-f-logo c-f-margin-m ">
                <div class="c-f-logo-texts"><span class="f-color-white big-font italic f-bold">This is</span> <span class="big-font italic f-color-footer-dark f-bold">Enterprise</span> <span class="c-f-logo-margin medium-font f-color-light">All your problems solved!</span></div>
            </div>

        </div>

        <div ng-repeat="footer in footers">

            <div class="colums-footer" ng-class="c-f-margin($last)">
                <span class="c-f-title"> {{footer.title}} </span>
                <div class="c-f-content"> <span> {{footer.content}}   </span></div>
                <div class="button white-bg-color f-color-main">Lore ipsum</div>

            </div>

        </div>

        <!--
        <div class="colums-footer">
            <span class="c-f-title">Lorem ipsum</span>
            <div class="c-f-content"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae ex pulvinar velit porttitor ultricies eget id lorem. Pellentesque mattis lacus eu orci varius, vitae dapibus metus malesuada. Praesent sagittis eleifend nisi, vitae facilisis ex. Integer non sollicitudin ipsum. Proin semper enim nisi, id pharetra diam fermentum non. Nam blandit massa nec lobortis sollicitudin. Praesent pharetra sed urna ut sollicitudin. Nulla ut odio vel justo tempus suscipit. Duis interdum purus quam, quis suscipit velit congue vel.

Mauris ornare interdum ullamcorper. Phasellus et eros eget diam maximus venenatis sit amet consectetur ex. In consequat sapien vitae arcu vulputate iaculis. Mauris ac neque orci. Etiam quis euismod leo. Pellentesque interdum ex nec sapien condimentum sollicitudin. Morbi sagittis augue nec magna elementum, maximus blandit quam sodales. Praesent convallis elit nec purus ornare vulputate. Nulla vulputate placerat est, eu porttitor mi elementum ut. Praesent blandit interdum libero non laoreet. Fusce odio metus, facilisis quis consequat vel, suscipit a nunc. Nunc sodales, risus et hendrerit faucibus, justo est egestas metus, in efficitur dui nisl id dolor. Pellentesque in lacinia mi, non euismod tellus.</span></div>
            <div class="button white-bg-color f-color-main">Lore ipsum</div>
        </div>
        <div class="colums-footer">
            <span class="c-f-title">Lorem ipsum</span>
            <div class="c-f-content"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae ex pulvinar velit porttitor ultricies eget id lorem. Pellentesque mattis lacus eu orci varius, vitae dapibus metus malesuada. Praesent sagittis eleifend nisi, vitae facilisis ex. Integer non sollicitudin ipsum. Proin semper enim nisi, id pharetra diam fermentum non. Nam blandit massa nec lobortis sollicitudin. Praesent pharetra sed urna ut sollicitudin. Nulla ut odio vel justo tempus suscipit. Duis interdum purus quam, quis suscipit velit congue vel.

Mauris ornare interdum ullamcorper. Phasellus et eros eget diam maximus venenatis sit amet consectetur ex. In consequat sapien vitae arcu vulputate iaculis. Mauris ac neque orci. Etiam quis euismod leo. Pellentesque interdum ex nec sapien condimentum sollicitudin. Morbi sagittis augue nec magna elementum, maximus blandit quam sodales. Praesent convallis elit nec purus ornare vulputate. Nulla vulputate placerat est, eu porttitor mi elementum ut. Praesent blandit interdum libero non laoreet. Fusce odio metus, facilisis quis consequat vel, suscipit a nunc. Nunc sodales, risus et hendrerit faucibus, justo est egestas metus, in efficitur dui nisl id dolor. Pellentesque in lacinia mi, non euismod tellus.</span></div>
            <div class="button white-bg-color f-color-main">Lore ipsum</div>
        </div>
        <div class="colums-footer c-f-margin">
            <span class="c-f-title">Lorem ipsum</span>
            <div class="c-f-content"> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae ex pulvinar velit porttitor ultricies eget id lorem. Pellentesque mattis lacus eu orci varius, vitae dapibus metus malesuada. Praesent sagittis eleifend nisi, vitae facilisis ex. Integer non sollicitudin ipsum. Proin semper enim nisi, id pharetra diam fermentum non. Nam blandit massa nec lobortis sollicitudin. Praesent pharetra sed urna ut sollicitudin. Nulla ut odio vel justo tempus suscipit. Duis interdum purus quam, quis suscipit velit congue vel.

Mauris ornare interdum ullamcorper. Phasellus et eros eget diam maximus venenatis sit amet consectetur ex. In consequat sapien vitae arcu vulputate iaculis. Mauris ac neque orci. Etiam quis euismod leo. Pellentesque interdum ex nec sapien condimentum sollicitudin. Morbi sagittis augue nec magna elementum, maximus blandit quam sodales. Praesent convallis elit nec purus ornare vulputate. Nulla vulputate placerat est, eu porttitor mi elementum ut. Praesent blandit interdum libero non laoreet. Fusce odio metus, facilisis quis consequat vel, suscipit a nunc. Nunc sodales, risus et hendrerit faucibus, justo est egestas metus, in efficitur dui nisl id dolor. Pellentesque in lacinia mi, non euismod tellus.</span></div>
            <div class="button white-bg-color f-color-main">Lore ipsum</div>
        </div>

-->


    </footer>


    <script src="js/script.js"></script>
</body>

</html>
